<div class="card">
    <div class="card-body">
        <h1 class=" card-title">{{ displayTicket.title}} </h1>
        <h6 class="card-subtitle mb-2 text-body-secondary">Ticket ID #{{displayTicket.id}}</h6>
        <!--<p><img class="rounded-circle" [src]="getUser()" /> {{displayTicket.userOpened}}</p>-->
        <p class="card-text">{{displayTicket.body}} </p>
        @if(displayTicket.isOpen){
            <p>Status: Open</p>
        }
        @else{
            <p>Status: Closed</p>
        }
       
        <!--add if statement to display check mark or something-->
        @if(isLoggedIn()){
        
            <button (click)="addBookmark()">Add Bookmark</button>
        }
        @else {
            <p>Sign in to add a bookmark</p>
        }
        
        @if(!displayTicket.isOpen){
            <p>{{displayTicket.resolution}}</p>
            <p>{{displayTicket.userClosed}}</p>
        }
        
        
        @if (isLoggedIn()) {
        
            <app-resolution-form [formTicket]="displayTicket" (Submitted)="addResolution($event)"></app-resolution-form>
        }
        @else {
            <h3>Sign in to add a resolution</h3>
        }
    </div>
    
</div>



