/* You can add global styles to this file, and also import other style files */
.navbar-custom{
    margin-bottom: 10px;
    background-color: #4f5861;
}
.navbar-brand{
    margin-left: 16px;
}
.google-btn{
    margin-right: 16px; border-radius: 30px;
}
html, body{
    background: #212529;
    color: rgb(255, 244, 244);
}
:root{
    margin-top: 50px;
}
.see-detail-btn{
border-radius: 30px;
}